.mainContainer {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    float: left;
}
.headerArea {
    width: 100%;
    height: 100px;
    /* background: #180c0f; */
    background-image: linear-gradient(to bottom, #3b3b3b, #180c0f);
}